.header{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    display: flex;
    
}
.sidebar{
    width: 15%;
    height: 100vh;
    background-image: url(image/B-111.gif);
    background-size: cover;
    top: 60px;
    position: fixed;
}
.content{
    width: 85%;
    height: 400px;
    margin-left: 203px;
    background-image: url(image/b13.jpg);
    background-size: cover;
}
.pro{
    height: 615px;
    width: 85%;
    margin-left: 203px;
    background-color: rgb(255, 202, 88);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.sub1{
    background-color: aqua;
    margin-top: 20px;
    margin-left: 20px;
    background-image: url(image/b02.jpg);
    background-size: cover;
}
.h1{
    height: 60px;
    width: 200px;
    margin-left: 60px;
    margin-right: 30px;
    display: flex;
    
}
span{
    color: rgb(100, 202, 202);
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
}

.h1 img{
    height: 100%;
    width: 100px;
   
}
.h2{
    height: 60px;
    width: 450px;
    margin-left: 40px;
    
    display: flex;
    align-items: center;

}
.h2 i{
    font-size: 25px;
    
}
input{
    height: 55px;
    width: 380px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.B1{
    height: 55px;
    width: 60px;
    margin-left: 0px;
    background-color: orange;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.h3{
    height: 60px;
    width: 550px;
   
    
    margin-left: 30px;

}
.h3 ul{
    list-style: none;

}
.h3 ul li{
    display: inline-block;
    margin-right: 25px;
}
.h3 ul li a{
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: white;
    padding: 16px 15px;
}
.h3 ul li a:hover{
    background-color: yellow;
    color: black;
    transition: 0.7s;
}
