.header{
    background-color: rgb(31, 30, 30);
    width: 100%;
    height: 60px;
    display: flex;

}
.banner{
    width: 100%;
    height: 250px;
    background-image: url(image/banner.jpg);
    background-size: cover;
}
.grid{
    width: 100%;
    height: 520px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    animation-name: rafi;
    animation-duration: 10s;
    animation-iteration-count: 50;

}
@keyframes rafi{
    0%{background-color: rgb(18, 136, 3);}
            25%{background-color: rgb(1, 12, 161);}
            50%{background-color: rgb(138, 5, 138);}
            75%{background-color: rgb(39, 38, 38);}
            100%{background-color: rgb(114, 3, 27);}
}
.sub{
    background-color: black;
    margin: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-image: url(image/bike-2.png);
    background-size: 300px 220px;
    align-items: end;

}

span, button{
    margin-top: 200px;
    margin-left: 10px;
    font-size: large;
    
}
button{
    background-image: linear-gradient(rgb(3, 243, 3), rgb(6, 6, 241));
    border-radius: 7px;
    color: white;
}
.h1{
    height: 60px;
    width: 200px;
    margin-left: 60px;
    margin-right: 30px;
    display: flex;
    
}
.s{
    color: rgb(100, 202, 202);
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
}

.h1 img{
    height: 100%;
    width: 100px;
   
}
.h2{
    height: 60px;
    width: 450px;
    margin-left: 40px;
    
    display: flex;
    align-items: center;

}
.h2 i{
    font-size: 25px;
    
}
input{
    height: 55px;
    width: 380px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.B1{
    height: 55px;
    width: 60px;
    margin-left: 0px;
    background-color: orange;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0;
}
.h3{
    height: 60px;
    width: 550px;
   
    
    margin-left: 30px;

}
.h3 ul{
    list-style: none;

}
.h3 ul li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.h3 ul li a{
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: white;
    padding: 16px 15px;
}
.h3 ul li a:hover{
    background-color: yellow;
    color: black;
    transition: 0.7s;
}
.h3 ul li ul{
    position: absolute;
    display: none;
    
}
.h3 ul li ul li{
    margin-top: 30px;
    display: block;
    
    
}
.h3 ul li:hover ul{
    display: block;
}